In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('../artifcats/sentiment_analysis.csv')

In [6]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

#  Data Preprocessing

In [7]:
data.shape

(7920, 3)

In [8]:
data.duplicated().sum()

0

In [9]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

# Test Preprocessing

In [10]:
import re
import string

convert uppercase to lowercase

In [13]:
data["tweet"] = data["tweet"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [14]:
data["tweet"].head()

0    #fingerprint #pregnancy test https://goo.gl/h1...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

Remove Links

In [15]:
data["tweet"] = data["tweet"].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[r\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))

In [16]:
data["tweet"].head()

0    #fingerprint #pregnancy test  #android #apps #...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

Remove punctuations

In [19]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

data["tweet"] = data["tweet"].apply(remove_punctuations)

In [20]:
data["tweet"].head()

0    fingerprint pregnancy test  android apps beaut...
1    finally a transparant silicon case  thanks to ...
2    we love this would you go talk makememories un...
3    im wired i know im george i was made that way ...
4    what amazing service apple wont even talk to m...
Name: tweet, dtype: object

In [21]:
data["tweet"] = data['tweet'].str.replace('\d+', '', regex=True)

In [22]:
data["tweet"].tail()

7915    live out loud lol liveoutloud selfie smile son...
7916    we would like to wish you an amazing day make ...
7917    helping my lovely  year old neighbor with her ...
7918    finally got my smart pocket wifi stay connecte...
7919    apple barcelona apple store bcn barcelona trav...
Name: tweet, dtype: object

Remove stopwords

In [30]:
!pip3 install nltk

Requirement already satisfied: nltk in /Users/hasangaranasinghe/Documents/Projects/Sentiment-Analysis/myenv/lib/python3.12/site-packages (3.8.2)
Requirement already satisfied: click in /Users/hasangaranasinghe/Documents/Projects/Sentiment-Analysis/myenv/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Users/hasangaranasinghe/Documents/Projects/Sentiment-Analysis/myenv/lib/python3.12/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Users/hasangaranasinghe/Documents/Projects/Sentiment-Analysis/myenv/lib/python3.12/site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in /Users/hasangaranasinghe/Documents/Projects/Sentiment-Analysis/myenv/lib/python3.12/site-packages (from nltk) (4.66.5)

In [11]:
import nltk

ImportError: No module named nltk